{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="py-3">
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{{ member.html_url }}" target="_blank" rel="noreferrer"><img src="{{ member.avatar_url }}" class="rounded float-start" style="max-width:10%;margin-right:30px;"></a>
                    <h5 class="card-title"><a href="{{ url_for('member.show', name=member.name) }}">{{ member.name }}</a></h5>
                    <p class="card-text">{{ member.bio }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-dark" href="{{ member.html_url }}" target="_blank" rel="noreferrer">Github</a>
                {% if member.blog|length > 0 %}
                    <a class="btn btn-primary" href="{{ member.blog }}" target="_blank" rel="noreferrer">Website</a>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="py-3">
            <div class="list-group list-group-flush">
            {% for project in projects.items %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('project.warp', project_id=project.id) }}">
                    {% if project.public is false %}
                        <span class="badge bg-secondary">비공개</span>
                    {% endif %} {{ project.title }}
                </a>
            {% endfor %}
            </div>
        </div>

        <nav class="py-3 d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if projects.prev_num is none %} disabled{% endif %}"><a class="page-link" href="{{ url_for('member.show', name=member.name, page=projects.prev_num) }}">&laquo; Previous</a></li>
            {% for page in pages %}
                <li class="page-item {% if page == projects.page %} disabled{% endif %}"><a class="page-link" href="{{ url_for('member.show', name=member.name, page=page) }}">{{ page }}</a></li>
            {% endfor %}
                <li class="page-item {% if projects.next_num is none %} disabled{% endif %}"><a class="page-link" href="{{ url_for('member.show', name=member.name, page=projects.next_num) }}">Next &raquo;</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}