{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="py-3">
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{{ member.html_url }}" target="_blank" rel="noreferrer"><img src="{{ member.avatar_url }}" class="rounded float-start" style="max-width:10%;margin-right:30px;"></a>
                    <h5 class="card-title"><a href="{{ url_for('member.show', name=member.name) }}">{{ member.name }}</a></h5>
                    <p class="card-text">{{ member.bio }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-dark" href="{{ member.html_url }}" target="_blank" rel="noreferrer">Github</a>
                {% if member.blog|length > 0 %}
                    <a class="btn btn-primary" href="{{ member.blog }}" target="_blank" rel="noreferrer">Website</a>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="py-3 pb-5">
            <div class="list-group list-group-flush">
            {% for project in projects.items %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('project.warp', project_id=project.id) }}">
                    {% if project.public is false %}
                        <span class="badge bg-secondary">비공개</span>
                    {% endif %} {{ project.title }}
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}