{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='androidstudio.min.css') }}">
{% endblock %}
{% block content %}
    <section class="container">
        <div class="py-3">
            <h1 class="display-3">{{ title }}</h1>
        </div>

        {{ html|safe }}
    </section>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
