<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ g.title }}</title>
        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="Calico Cheese, CalicoCheese, 칼리코치즈">
        <meta name="description" content="{{ g.description }}">
        <meta name="theme-color" content="#FFCC4D">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="ko_KR">
        <meta property="og:title" content="{{ g.title }}">
        <meta property="og:description" content="{{ g.description }}">
        <meta property="og:image" content="{{ url_for('static', filename='icon/192.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="canonical" href="{{ g.canonical }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/192.png') }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/256.png') }}" sizes="256x256">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/512.png') }}" sizes="512x512">
        <link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='icon/192.png') }}">
        <link rel="apple-touch-icon" sizes="256x256" href="{{ url_for('static', filename='icon/256.png') }}">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='icon/512.png') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index.about') }}">Calico Cheese</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#CalicoCheeseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="CalicoCheeseNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('project.show_all') }}">프로젝트</a>
                        </li>
                {% if session['session'] %}
                    {% if not session['guest'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage.me') }}">대시보드</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">파일 관리</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('manage.upload.form') }}">파일 업로드</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('manage.files.show_all') }}">파일 관리</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">메모 관리</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('manage.memo.show_all') }}">메모 관리</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('manage.memo.group.show_all') }}">메모 그룹</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('manage.memo.write') }}">메모 작성하기</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact.select') }}">문의하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage.session.logout') }}">로그아웃</a>
                        </li>
                    {% endif %}
                {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <div class="container pt-5">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; Calico Cheese</p>

            {% if session['session'] %}
                {% set img_a_url = url_for('manage.session.logout') %}
            {% else %}
                {% set img_a_url = url_for('manage.session.login') %}
            {% endif %}

                <a href="{{ img_a_url }}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img class="bi me-2 rounded"  width="40" height="40" src="{{ url_for('static', filename='icon/192.png') }}">
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="https://github.com/CalicoCheese" class="nav-link px-2 text-muted">Github</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact.select') }}" class="nav-link px-2 text-muted">Contact</a></li>
                </ul>
            </footer>
        </div>

        <!-- Script -->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>