<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calico Cheese</title>
        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="shortcut icon" href="/favicon.ico">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index.about') }}">Calico Cheese</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#CalicoCheeseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="CalicoCheeseNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('project.show_all') }}">프로젝트</a>
                        </li>
                    {% if session['session'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('upload.form') }}">파일 업로드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage.files.show_all') }}">파일 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage.session.logout') }}">로그아웃</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('manage.session.login') }}">로그인</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- Script -->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>